@font-face {
  font-family: 'bitterregular';
  src: url('../fonts/bitter-regular-webfont.eot');
  src: url('../fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bitter-regular-webfont.woff') format('woff'),
       url('../fonts/bitter-regular-webfont.ttf') format('truetype'),
       url('../fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: 'bitterbold';
  src: url('../fonts/bitter-bold-webfont.eot');
  src: url('../fonts/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bitter-bold-webfont.woff') format('woff'),
       url('../fonts/bitter-bold-webfont.ttf') format('truetype'),
       url('../fonts/bitter-bold-webfont.svg#bitterbold') format('svg');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: 'bitteritalic';
  src: url('../fonts/bitter-italic-webfont.eot');
  src: url('../fonts/bitter-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bitter-italic-webfont.woff') format('woff'),
       url('../fonts/bitter-italic-webfont.ttf') format('truetype'),
       url('../fonts/bitter-italic-webfont.svg#bitteritalic') format('svg');
  font-weight: normal;
  font-style: normal;
  }
* {
  color: white;
  text-align: center;
  font-family: bitterregular;
  }
body {
  background: black;
  padding: 10px;
  }
ul {
  list-style: none;
  margin: 0 0 1px;
  padding: 0 0 1px;
  }
  ul li {
      font-size: .75em;
      }
h1 {
  background: url(../images/logo.png) center center no-repeat transparent;
  direction: ltr;
  text-indent: -10000em;
  overflow: hidden;
  width: 419px;
  height: 300px;
  text-align: center;
  margin: 0 auto -50px;
  color: #333;
  }
/* helper classes */
.hidden {
  display: none;
  }
.open,
.close {
  background: url(../images/icons.png);
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  direction: ltr;
  text-indent: -10000em;
  z-index: 200;
  overflow: hidden;
  margin: 0;
  cursor: pointer;
  }
.close {
  background-position: -20px 0;
  }
a {
  display: block;
  min-width: 150px;
  margin: 0 auto 20px;
  padding: 10px;
  border-radius: 5px;
  background: #333;
  /*text-shadow: -1px -1px 0 #000, 1px 1px 0 #333;*/
  letter-spacing: .1em;
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  }
#game {
  max-width: 240px;
  margin: 0 auto;
  position: relative;
  }
#game > div {
  display: none;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  }

  #start {
    /*display: none;*/
    }
    /* dev state show puzzles */
  #room3choice3 {
    /*display: block!important;*/
    }

  /* chime puzzle */
  #room2choice4 ul li {
    display: inline-block;
    width: 30%;
    }
    #room2choice4 ul li a {
      padding: 10px 0;
      overflow: hidden;
      direction: ltr;
      min-width: 100%;
      text-indent: -10000em;
      }
    #room2choice4 ul li:last-child {
      margin: 0;
      }

  #game > div > div {
    display: none;
    }

  #gameOver,
  #win {
    display: none;
    background: rgba(0, 0, 0, .75);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    }
  #about {
    display: none;
    background: rgba(0, 0, 0, .75);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    padding: 110px 20px 0;
    }
    #about a {
      display: inline-block;
      margin: 0 5px 2px;
      font-size: .75em;
      }
    #about a:hover {
      text-decoration: underline;
      }
/* misc */
/*.ie6 #game,
.ie7 #game,
.ie8 #game {
  display: none;
  }*/
